# Ignore eclipse files
.classpath
.settings/
.project
.cproject

#ingore vscode files
.vscode
.factorypath

# Ignore IntelliJ files
.idea/
*.iml

# ========== Python ignores =================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
